# Python
.python-version
env/
*__pycache__*
*migrations/

# Env
.vscode
.DS_Store
geckodriver.log

# Files
*.csv
*.sql*
*.txt
!requirements.txt
docker-compose.override.yml

# Ignore static
static/*
!static/index.html
