# Python
.python-version
env/
*__pycache__*
*migrations*
env.py

# Env
.vscode
.DS_Store
geckodriver.log
config.ini

# Files
*.csv
!sources.csv
*.sql*
*.zip
*.txt
!requirements.txt
docker-compose.override.yml

# Ignore static
static/*
!static/index.html
