asgiref==3.5.0
async-generator==1.10
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
clinner==1.12.3
colorlog==3.2.0
cryptography==36.0.2
Deprecated==1.2.13
Django==4.0.4
django-extensions==3.1.5
django-model-utils==4.2.0
djangorestframework==3.13.1
docutils==0.18.1
gitdb==4.0.9
GitPython==3.1.27
h11==0.13.0
idna==3.3
jwcrypto==1.2
./packaging_merge_csv_by_date/dist/merge_csv_by_date_package_MagiPrince-0.2.0-py3-none-any.whl
numpy==1.22.3
oauthlib==3.2.0
outcome==1.1.0
pycparser==2.21
pydotplus==2.0.2
pyOpenSSL==22.0.0
pyparsing==3.0.7
pypdf2==1.27.12
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
selenium==4.1.2
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
sqlparse==0.4.2
trio==0.20.0
trio-websocket==0.9.2
unicodedata2==14.0.0
uritemplate==4.1.1
urllib3==1.26.8
wrapt==1.14.1
wsproto==1.1.0
