{% extends 'layouts/base.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block extrajs %}
    <script src="/static/lib/echarts/echarts.js" charset="utf-8"></script>
{% endblock %}

{% block body_content %}

<h1>A propos</h1>
<p>
    GE'Xplore est une application web qui permet de représenter des données microclimatiques collectées parmis différentes sources dans le but de permettre son utilisation par des professionnels souhaitant visualiser et travailler avec des données de ce type. Ainsi, (Nom du site) permet d'accéder aux données de différentes sources au travers d’une seule API.

    Actuellement la récolte des données s’effectue auprès des sources suivantes : Climacity (lien), SABRA (lien), et IDAWEB (lien ?).
    
    Ce travail s'inscrit dans le projet MIDAS (Microclimate DAta Stories) (lien) porté par la Haute école de gestion (HEG) et la Haute école du paysage, d'ingénierie et d'architecture (HEPIA) de Genève. Il s'agit d'un projet de recherche scientifique sur le climat urbain.
    
    Membres
    
    Partenaires
</p>

{% endblock %}
