{% extends 'layouts/base.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block extrajs %}
    <script src="/static/lib/echarts/echarts.js" charset="utf-8"></script>
{% endblock %}

{% block body_content %}

<div class="about-text">
    <p class="h1">A propos</p>
    <p>
        <p class="h4">Contexte</p>
        GE'Xplore est une application web qui permet de représenter des données microclimatiques collectées parmis différentes sources
        dans le but de permettre son utilisation par des professionnels souhaitant visualiser et travailler avec des données de ce type.
        Ainsi, GE'Xplore permet d'accéder aux données de différentes sources au travers d’une seule <a href="https://gexplore.ch/api/doc/">API</a>.
        
        <br><br>

        Actuellement la récolte des données s’effectue auprès des sources suivantes : <a href="http://www.climacity.org/Axis/">Climacity</a>,
        <a href="https://www.ge.ch/connaitre-qualite-air-geneve/donnees-qualite-air-recherches-personnalisees">SABRA</a>,
        et <a href="https://www.meteosuisse.admin.ch/home/service-et-publications/conseil-et-service/portail-de-donnees-pour-l-enseignement-et-la-recherche.html">IDAWEB</a>.
        
        <br><br>

        Ce travail s'inscrit dans le projet 
        <a href="https://www.hes-so.ch/la-hes-so/developpement-durable/projets/detail-projet/midas-un-projet-de-recherche-sur-le-climat-urbain-a-geneve">MIDAS (MIcroclimate DAta Stories)</a>
        porté par la Haute école de gestion (HEG)
        et la Haute école du paysage, d'ingénierie et d'architecture (HEPIA) de Genève.
        Il s'agit d'un projet de recherche scientifique sur le climat urbain.
        
        <br><br>

        <p class="h4">Membres</p>

        René Schneider, Professeur Ordinaire et Responsable de la filière Information Science – Haute école de gestion, Genève<br>
        <br>
        Nicolas Tregan, Assistant HES<br>
        Amir Alwash, Assistant HES<br>
        David Nogueiras Blanco, Assistant HES<br>
        Marielle Guirlet, Assistante HES<br>
        Javier Lloret, Collaborateur scientifique HES
        
        <br><br>

        <p class="h4">Partenaires</p>
    </p>
</div>

{% endblock %}
