{% extends 'layouts/base.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block extrajs %}
    <script src="/static/lib/echarts/echarts.js" charset="utf-8"></script>
{% endblock %}

{% block body_content %}

{% csrf_token %}


<p class="h1 title">Dashboard</p>

{% comment %} <div class="btn-group dimension-display" role="group" aria-label="Selection of display graph mode 2D or 3D" onchange="flipDimensionDisplay()">
    <input type="radio" class="btn-check" name="btnradio" id="btn2D" autocomplete="off"  checked>
    <label class="btn btn-outline-primary" for="btn2D">2D</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btn3D" autocomplete="off">
    <label class="btn btn-outline-primary" for="btn3D">3D</label>
</div> {% endcomment %}

<div class="switch-accordeon">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" value="" id="fixedSources" onclick="fixedAccordeon(this)" checked>
        <label class="form-check-label" for="fixedSources">
            Affichage fixe
        </label>
    </div>
</div>

<div class="midas-container container-fluid">
    <div class="accordion" id="accordionDashboard0" hidden>
        <h4 id="title0">Données : filtre 0</h4>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSources0">
                <button id="buttonSources0" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSources0" aria-expanded="true" aria-controls="collapseSources">
                    Sources
                </button>
            </h2>
            <div id="collapseSources0" class="accordion-collapse collapse show" aria-labelledby="headingSources">
                <div class="accordion-body sources">
                    {% for source in sources %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="{{ source.slug }}" id="flexCheck{{ source.slug }}0" onclick="select_source(this, 0)">
                            <label class="form-check-label" for="flexCheck{{ source.slug }}0">
                                {{ source.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingStations0">
                <button id="buttonStations0" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStations0" aria-expanded="false" aria-controls="collapseStations" disabled>
                    Stations
                </button>
            </h2>
            <div id="collapseStations0" class="accordion-collapse collapse" aria-labelledby="headingStations">
                <div class="accordion-body stations" id="accordionStations0">
                    
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingParameters0">
                <button id="buttonParameters0" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParameters0" aria-expanded="false" aria-controls="collapseParameters" disabled>
                    Paramètres
                </button>
            </h2>
            <div id="collapseParameters0" class="accordion-collapse collapse" aria-labelledby="headingParameters">
                <div class="accordion-body parameters" id="accordionParameters0">
                    
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingDates0">
                <button id="buttonDates0" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDates0" aria-expanded="false" aria-controls="collapseDates" disabled>
                    Couverture Temporelle
                </button>
            </h2>
            <div id="collapseDates0" class="accordion-collapse collapse" aria-labelledby="headingDates">
                <div class="needs-validation">
                    <div class="accordion-body dates" id="accordionDates0">
                        <div class="row align-items-center justify-content-center starting-date">
                            <div class="col-sm-3">
                                <label for="startingDate0">Date de début  :</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="datetime-local" id="startingDate0" name="starting_date" class="form-control" required="">
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center ending-date">
                            <div class="col-sm-3">
                                <label for="endingDate0">Date de fin  :</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="datetime-local" id="endingDate0" name="ending_date" class="form-control" required="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="delete-search" onclick="removeResearch(this, 0)">
            <i class="fa-solid fa-circle-xmark"></i>
        </span>
    </div>

    <div id="addResearchDiv"></div>

    <div class="addResearch" id="addResearchButton" onclick="addResearch()">Ajouter une recherche <i class="fa-solid fa-circle-plus"></i></div>

    <div class="submit-data-dashboard">
        <button type="submit" id="submitButton" class="btn btn-primary" onclick="requestData()" disabled>
            Envoyer
        </button>
    </div>

    <div class="" id="EchartsParameters">
    </div>

    <div class="d-flex w-100 justify-content-center" id="echarts">
        <div id="main" class="d-none" width="100%" height="800px" style="width: 100%; height: 800px;"></div>
    </div>

</div>

<script type="text/javascript">
    var idx = 1;
    var array_current_idx = [];
</script>

<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>

<script type="text/javascript">

    {% comment %} var sources = ['climacity'];
    var stations = ['prairie'];
    var parameters = ['tamb_avg'];
    var start_date = '2022-05-08 00:00:00';
    var end_date = '2022-05-08 23:59:59'; {% endcomment %}

    // const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value
    function test(){
        fetch('/api/search/',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrf,
                'Authorization': "Midas admin :1[YLC!DL]}id<Ip*@Pc"
            },
            body: JSON.stringify({
                'sources': sources,
                'stations': stations,
                'parameters': parameters,
                'start_date': start_date,
                'end_date': end_date
            })
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(myBlob) {
            //console.log(myBlob)
            console.log()
        });
    }
    // test();
</script>

{% endblock %}
