{% extends 'layouts/base.html' %}
{% block extracss %}
    <link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block extrajs %}
    <script src="/static/lib/echarts/echarts.js" charset="utf-8"></script>
{% endblock %}

{% block body_content %}

{% csrf_token %}

<div class="midas-container container-fluid">
    <input class="" type="checkbox" value="" id="fixedSources" onclick="fixedAccordeon(this)">
    <label class="" for="fixedSources">
        Bloquer l'accordéon
    </label>
    <div class="accordion" id="accordionDashboard">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSources">
                <button id="buttonSources" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSources" aria-expanded="true" aria-controls="collapseSources">
                    Sources
                </button>
            </h2>
            <div id="collapseSources" class="accordion-collapse collapse show" aria-labelledby="headingSources" data-bs-parent="#accordionDashboard">
                <div class="accordion-body sources">
                    {% for source in sources %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="{{ source.slug }}" id="flexCheck{{ source.name }}" onclick="select_source(this)">
                            <label class="form-check-label" for="flexCheck{{ source.name }}">
                                {{ source.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingStations">
                <button id="buttonStations" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStations" aria-expanded="false" aria-controls="collapseStations" disabled>
                    Stations
                </button>
            </h2>
            <div id="collapseStations" class="accordion-collapse collapse" aria-labelledby="headingStations" data-bs-parent="#accordionDashboard">
                <div class="accordion-body stations" id="accordionStations">
                    
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingParameters">
                <button id="buttonParameters" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParameters" aria-expanded="false" aria-controls="collapseParameters" disabled>
                    Paramètres
                </button>
            </h2>
            <div id="collapseParameters" class="accordion-collapse collapse" aria-labelledby="headingParameters" data-bs-parent="#accordionDashboard">
                <div class="accordion-body parameters" id="accordionParameters">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-center">
        <div id="main" style="width: 800px;height:800px;"></div>
    </div>
    <script type="text/javascript">
        var sources = [];
        var stations = [];
        var option = {};
        var fixed = false;

        function fixedAccordeon(e){
            data_to_pass = null;
            fixed = true;
            if (!e.checked) {
                data_to_pass = document.getElementById('accordionDashboard');
                fixed = false;
            }

            for (var i = 0; i < document.getElementsByClassName('accordion-collapse').length; i++) {
                document.getElementsByClassName('accordion-collapse')[i].dataset.bsParent = false;
                if (!fixed) {
                    document.getElementsByClassName('accordion-collapse')[i].dataset.bsParent = '#accordionDashboard';
                }
                try {
                    bootstrap.Collapse.getInstance(document.getElementsByClassName('accordion-collapse')[i])._config.parent = data_to_pass;
                }
                catch {}
            }
        }

        function select_source(e){
            stationsAccordeon = document.getElementById('headingStations').getElementsByTagName('button')[0];
            if (e.checked) {
                stationsAccordeon.disabled = false;
                sources.push(e.value);
                options = {'sources': sources}
                requestStations(options)
                var cs = document.getElementById('buttonStations');
                console.log(Boolean(cs.getAttribute('aria-expanded')))
                if (cs.getAttribute('aria-expanded') === 'false') {
                    cs.click();
                }
            }
            else {
                input_sources_array = document.getElementById('collapseSources').getElementsByTagName('input');
                count_sources_off = 0
                sources = []; 
                for (var i = 0; i < input_sources_array.length; ++i) {
                    if (input_sources_array[i].checked) {
                        sources.push(input_sources_array[i].value);
                    }
                    else {
                        count_sources_off++;
                    }
                }
                if (count_sources_off == input_sources_array.length) {
                    var cs = document.getElementById('buttonStations');
                    cs.click();
                    stationsAccordeon.disabled = true;
                }
                else{
                    requestStations(options)
                    var cs = document.getElementById('buttonStations');
                    if (!fixed) {
                        cs.click();
                    }
                }
            }
        }

        function select_station(e){
            parametersAccordeon = document.getElementById('headingParameters').getElementsByTagName('button')[0];
            array_e_values = e.value.split(' ');
            stations.push(array_e_values[1]);
            options = {'sources': sources, 'stations': stations};
            if (e.checked) {
                parametersAccordeon.disabled = false;
                requestParameters(options)
                var cs = document.getElementById('buttonParameters');
                if (cs.getAttribute('aria-expanded') === 'false') {
                    cs.click();
                }
            }
            else {
                input_stations_array = document.getElementById('collapseStations').getElementsByTagName('input');
                count_stations_off = 0
                stations = [];
                console.log("HELLO")
                for (var i = 0; i < input_stations_array.length; ++i) {
                    if (input_stations_array[i].checked) {
                        stations.push(input_stations_array[i].value.split(' ')[1]);
                    }
                    else {
                        count_stations_off++;
                    }
                }
                if (count_stations_off == input_stations_array.length) {
                    var cs = document.getElementById('buttonParameters');
                    cs.click();
                    parametersAccordeon.disabled = true;
                }
                else{
                    options = {'sources': sources, 'stations': stations};
                    console.log(options)
                    requestParameters(options)
                    var cs = document.getElementById('buttonParameters');
                    if (!fixed) {
                        cs.click();
                    }
                }
            }
        }

        const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value ;        
        function requestStations(options){
            fetch('/stations-dashboard/',{
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrf,
                },
                body: JSON.stringify(
                    options
                )
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(responseJSONData) {
                jsonData = JSON.parse(responseJSONData);
                var accordionStations = document.getElementById("accordionStations");
                while (accordionStations.firstChild) {
                    accordionStations.removeChild(accordionStations.firstChild);
                }
                for (var i = 0; i < jsonData.length; i++) {
                    const accDiv = document.createElement("div");
                    accDiv.className = "form-check form-check-inline";
                    const accInp = document.createElement("input");
                    accInp.className = "form-check-input";
                    accInp.type = "checkbox";
                    accInp.value = jsonData[i]['source']['slug'].concat(" ", jsonData[i]['slug']);
                    accInp.id = "flexCheck" + jsonData[i]['name'];
                    accInp.setAttribute('onclick', 'select_station(this)');
                    const accLab = document.createElement("label");
                    accLab.className = "form-check-label";
                    accLab.for = "flexCheck" + jsonData[i]['name'];
                    accLab.innerText = jsonData[i]['name'];
                    accDiv.appendChild(accInp);
                    accDiv.appendChild(accLab);
                    accordionStations.appendChild(accDiv);
                }

            });
        }

        function requestParameters(options){
            fetch('/parameters-dashboard/',{
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrf,
                },
                body: JSON.stringify(
                    options
                )
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(responseJSONData) {
                jsonData = JSON.parse(responseJSONData);
                var accordionParameters = document.getElementById("accordionParameters");
                while (accordionParameters.firstChild) {
                    accordionParameters.removeChild(accordionParameters.firstChild);
                }
                for (var i = 0; i < jsonData.length; i++) {
                    const accDiv = document.createElement("div");
                    accDiv.className = "form-check form-check-inline";
                    accDiv.title = jsonData[i]['infos'];
                    const accInp = document.createElement("input");
                    accInp.className = "form-check-input";
                    accInp.type = "checkbox";
                    accInp.value = jsonData[i]['source'].concat(" ", jsonData[i]['station']).concat(" ", jsonData[i]['slug']);
                    accInp.id = "flexCheck" + jsonData[i]['name'];
                    const accLab = document.createElement("label");
                    accLab.className = "form-check-label";
                    accLab.for = "flexCheck" + jsonData[i]['name'];
                    accLab.innerText = jsonData[i]['name'];
                    accDiv.appendChild(accInp);
                    accDiv.appendChild(accLab);
                    accordionParameters.appendChild(accDiv);
                }

            });
        }
    </script>

    <script type="text/javascript">

        

        var result = []
        {% comment %} xhr.onload = function() {
            //console.log(JSON.parse(xhr.response));
            values_post = JSON.parse(xhr.response)['Climacity']['Prairie'];
            for (var i in values_post) {
                result.push([i, values_post[i]['Tamb_Avg*']]);
            }
        } {% endcomment %}

        {% comment %} console.log(result[1]);
        const arrayColumn = (arr, n) => arr.map(x => x[n]);
        console.log(arrayColumn(result, 1)); {% endcomment %}

        // Initialize the echarts instance based on the prepared dom
        var myChart = echarts.init(document.getElementById('main'));

        const colors = ['#5470C6', '#EE6666'];

        // Specify the configuration items and data for the chart
        var option = {
            title: {
                text: ''
            },
            color: colors,
            tooltip: {
                trigger: 'none',
                axisPointer: {
                type: 'cross'
                }
            },
            legend: {},
            grid: {
                top: 70,
                bottom: 50
            },
            xAxis: [
                {
                type: 'category',
                axisTick: {
                    alignWithLabel: true
                },
                axisLine: {
                    onZero: false,
                },
                axisPointer: {
                    label: {
                    formatter: function (params) {
                        return (
                        'PM2.5 (Climacity) ' +
                        params.value +
                        (params.seriesData.length ? '：' + params.seriesData[0].data : '')
                        );
                    }
                    }
                },
                // prettier-ignore
                data: ['2016-1', '2016-2', '2016-3', '2016-4', '2016-5', '2016-6', '2016-7', '2016-8', '2016-9', '2016-10', '2016-11', '2016-12']
                },
                {
                type: 'category',
                axisTick: {
                    alignWithLabel: true
                },
                axisLine: {
                    onZero: false,
                },
                axisPointer: {
                    label: {
                    formatter: function (params) {
                        return (
                        'PM2.5 (Climacity) ' +
                        params.value +
                        (params.seriesData.length ? '：' + params.seriesData[0].data : '')
                        );
                    }
                    }
                },
                // prettier-ignore
                data: ['2015-1', '2015-2', '2015-3', '2015-4', '2015-5', '2015-6', '2015-7', '2015-8', '2015-9', '2015-10', '2015-11', '2015-12']
                }
            ],
            yAxis: [
                {
                type: 'value'
                }
            ],
            series: [
                {
                name: 'PM2.5 (Climacity)',
                type: 'line',
                xAxisIndex: 1,
                smooth: true,
                emphasis: {
                    focus: 'series'
                },
                data: [
                    2.6, 5.9, 9.0, 0, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3
                ]
                },
                {
                name: 'PM2.5 (SABRA)',
                type: 'line',
                smooth: true,
                emphasis: {
                    focus: 'series'
                },
                data: [
                    3.9, 5.9, 11.1, 18.7, 48.3, 69.2, 231.6, 46.6, 55.4, 18.4, 10.3, 0.7
                ]
                }
            ],

        };

        // Display the chart using the configuration items and data just specified.
        myChart.setOption(option);
    </script>
    <script type="text/javascript">

        {% comment %} var sources = ['climacity'];
        var stations = ['prairie'];
        var parameters = ['tamb_avg'];
        var start_date = '2022-05-08 00:00:00';
        var end_date = '2022-05-08 23:59:59'; {% endcomment %}

        // const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value
        function test(){
            fetch('/api/search/',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrf,
                    'Authorization': "Midas admin :1[YLC!DL]}id<Ip*@Pc"
                },
                body: JSON.stringify({
                    'sources': sources,
                    'stations': stations,
                    'parameters': parameters,
                    'start_date': start_date,
                    'end_date': end_date
                })
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(myBlob) {
                console.log(myBlob)
            });
        }
        // test();
    </script>
</div>
{% endblock %}
