{% extends 'layouts/base.html' %}
{% load dict %}
{% load folder %}
{% block body_content %}
<div class="midas-container container-fluid">
    <div class="row w-100 mt-5">
        <div class="col-1"></div>
        <div class="col-10"><p class="h1">Gestion de Données</p></div>
        <div class="col-1"></div>
    </div>

    <div class="d-flex w-100 flex-column align-items-center">
        {% if user.is_superuser %}
        <div class="card mb-3 w-50">
            <div class="card-header row g-0 align-items-center justify-content-between">
                <div class="col-sm-6"><strong>Ajout de données</strong></div>
                <div class="col-sm-6 text-end">
                    <i class="fa-solid fa-circle-chevron-down" data-bs-toggle="collapse" data-bs-target="#collapseAddDatas" aria-expanded="false" aria-controls="collapseAddDatas"></i>
                </div>
            </div>
            {% if form.help_text %}
                <div class="alert alert-warning" role="alert">
                    {{form.help_text|safe }}
                </div>
            {% endif %}

            {% if form.errors %}
                {% for k,v in form.errors.items %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ v }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            <div class="collapse p-3 row g-0 justify-content-center" id="collapseAddDatas">
                <div class="col-sm-10">
                    <form id="harvestDataForm" action="/harvest-data/" method="post">
                        <input type="hidden" name="updateOperation" value="files">
                        {% csrf_token %}
                        <div class="row align-items-end justify-content-center needs-validation my-2">
                            {% if sources_input|length > 0 %}
                            {% for source in sources_input %}
                                <div class="form-check col-md-3">
                                    <input class="form-check-input" name="source_list" id="{{ source.slug }}Input" type="checkbox" value="{{ source.slug }}">
                                    <label class="form-check-label" for="{{ source.slug }}Input">{{ source.name }}</label>
                                </div>
                            {% endfor%}
                            {% else %}
                            Aucune source disponible, utiliser le bouton de mise à jour pour remplir les données basiques.
                            {% endif %}
                        </div>
                        <div class="row align-items-end needs-validation my-2">
                            <div class="col-md-6">
                                <label for="{{ form.starting_date.id_for_label }}">{{ form.starting_date.label }} :</label>
                                {{ form.starting_date }}
                            </div>
                            <div class="col-md-6">
                                <label for="{{ form.ending_date.id_for_label }}">{{ form.ending_date.label }} :</label>
                                {{ form.ending_date }}
                            </div>
                        </div>
                        <div class="row align-items-end justify-content-end needs-validation my-2">
                            <div class="col-md-12 text-end">
                                <button type="button" data-midas-action="db" class="midasDataButton btn btn-warning" title="Mise à jour de la base de données">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                                    MàJ BDD
                                </button>
                                <button type="button" data-midas-action="dbInfos" class="midasDataButton btn btn-danger" title="Mise à jour des informations des données dans la base de données">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                                    MàJ informations données
                                </button>
                                <button type="submit" data-midas-action="files" class="midasDataButton btn btn-primary">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                                    Envoyer
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="card mb-3 w-50">
            <div class="card-header row g-0 align-items-center justify-content-between">
                <div class="col-sm-6"><strong>Parcourir les fichiers</strong></div>
            </div>

            <div class="card-body">
                {% for value in file %}
                <div class="row">
                    {% if value.2 %}
                    <div class="col-sm-6 my-1">
                        <i class=" fas {% check_type value.0 %}"></i>
                        <span>{{ value.0 }}</span>
                    </div>
                    <form class="col-sm-6 text-end" action="/manage-data/" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="filename" name="filename" value="{{ value.1 }}">
                        <input type="hidden" id="origin" name="origin" value="{{ origin }}">
                        <input type="hidden" id="source" name="source" value="{{ source }}">
                        <button class="btn btn-success">Télécharger le fichier</button>
                    </form>
                    {% else %}
                    <a class="col my-1" href="{{ path_redirect }}{{ value.1 }}"><i class="fas fa-folder"></i> <span>{{ value.0}}</span></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        {% if origin == '' and source == ''%}
                        <li class="breadcrumb-item">Données</li>
                        {% else %}
                        <li class="breadcrumb-item"><a href="/manage-data/">Données</a></li>
                        {% endif %}
                        {% if origin != '' and source != ''%}
                        <li class="breadcrumb-item"><a href="/manage-data/?origin={{ origin }}">{{ origin_flavour }}</a></li>
                        {% elif origin != '' %}
                        <li class="breadcrumb-item">{{ origin_flavour }}</li>
                        {% endif %}
                        {% if source != '' %}
                        <li class="breadcrumb-item">{{ source }}</li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>



<script>
    document.querySelectorAll('i[data-bs-toggle="collapse"]').forEach(el=>{
        el.addEventListener('click',()=>{
            if(el.className=='fa-solid fa-circle-chevron-up collapsed')el.className='fa-solid fa-circle-chevron-down'
            else el.className='fa-solid fa-circle-chevron-up'
        })
    })
    const harvestDataForm = document.querySelector('#harvestDataForm')
    const formButtons = harvestDataForm.querySelectorAll('.midasDataButton')
    formButtons.forEach((b)=>{
        b.addEventListener('click',_=>{
            let hiddenInput = harvestDataForm.querySelector('input[name="updateOperation"]')
            hiddenInput.value = b.dataset.midasAction
            if(b.dataset.midasAction == "files"){
                if (!harvestDataForm.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
              }else{
                  b.firstElementChild.hidden = false
                  formButtons.forEach(e=>e.disabled=true)
                  harvestDataForm.submit()
              }
            }else{
                b.firstElementChild.hidden = false
                formButtons.forEach(e=>e.disabled=true)
                harvestDataForm.submit()
            }
        })
    })
    // harvestDataForm.addEventListener('submit', _ =>{
    //     const button = harvestDataForm.querySelector('button[type="submit"]')
    //     button.firstElementChild.hidden = false;
    //     button.disabled = true
    // })
</script>

{% endblock %}
