# Scraper Crontab

# Get yesterday date
YDate=$(date -d "yesterday" +'%Y-%m-%d')

# Climacity
0 0 * * * /usr/local/bin/python /app/Climacity/climacity.py -s $YDate > /proc/1/fd/1 2>/proc/1/fd/2 

# Need to get yesterday value for SABRA or we're gonna skip a lot of datas > /proc/1/fd/1 2>/proc/1/fd/2
0 1 * * * /usr/local/bin/python /app/SABRA/sabra.py -s $YDate > /proc/1/fd/1 2>/proc/1/fd/2

# Handling logs
0 2 * * * /usr/local/bin/python /app/logs/logs_handler.py > /proc/1/fd/1 2>/proc/1/fd/2

# Handling logs
0 3 * * * /app/zip-folder.sh > /proc/1/fd/1 2>/proc/1/fd/2
