{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}GExplore{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="GExplore">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{request.build_absolute_uri}}">
    <meta property="og:description" content="Project de collecte et d'analyse de données météorologiques">
    <meta content="#B593C0" data-react-helmet="true" name="theme-color" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#B593C0">
    {% block css %}
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
    {% block extracss %}
    {% endblock %}
    {% endblock %}
        {% block js%}
            <script src="/static/lib/fontawesome/fontawesome.js" crossorigin="anonymous"></script>
            <script src="/static/lib/bootstrap/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
            <script type="text/javascript">
            window.onload = () => {
                [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]')).map(function (tE) {
                    return new bootstrap.Popover(tE, {trigger: 'focus'});
                });
                [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]')).map(function (tE) {
                    return new bootstrap.Tooltip(tE);
                });
                if(document.querySelector("div.midas-container") != null)document.querySelector("div.midas-container").style["min-height"] = (window.innerHeight - (document.querySelector("nav.navbar").offsetHeight)-1)+"px"
            }
            </script>
        {% block extrajs%}
        {% endblock %}
        {% endblock %}
</head>
{% block body %}
    <body>
        {% block body_header %}
        {% include 'includes/navbar.html' %}
        {% endblock %}

        {% block body_alert %}
            <div class="container-fluid justify-content-center mt-2">
                <!-- <div class="alert alert-danger text-center balise-infos" role="alert">
                    Site en construction !
                </div> -->
            </div>
        {% endblock %}
        {% block body_content %}
            <div class="midas-container container-fluid">
                <p>Hello there, my name's MIDAS!</p>
            </div>
        {% endblock %}
        {% block body_footer %}
        {% endblock %}
    </body>
{% endblock %}
</html>
