{% extends 'layouts/base.html' %}
{% block body_content %}

<div class="midas-container container-fluid">
    {% if user.is_authenticated%}

        {% for field in form %}
            {% if field.help_text %}
                <div class="alert alert-warning" role="alert">
                    <p class="help">{{ field.help_text|safe }}</p>
                </div>
            {% endif %}
        {% endfor %}

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% for error in field.errors %} 
                        <div>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <form class="box mt-5" method="post">
            <div class="mb-3 row justify-content-center">
                <p class="h1 col-sm-4">Modifier votre mot de passe</p>
            </div>
            {% csrf_token %}

            <div class="mb-3 row justify-content-center">
                <label for="old_password" class="col-sm-2 col-form-label">Ancien mot de passe :</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" name="old_password">
                </div>
            </div>
            <div class="mb-3 row justify-content-center">
                <label for="new_password1" class="col-sm-2 col-form-label">Nouveau mot de passe :</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" name="new_password1">
                </div>
            </div>
            <div class="mb-3 row justify-content-center">
                <label for="new_password2" class="col-sm-2 col-form-label">Confirmer le nouveau mot de passe :</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" name="new_password2">
                </div>
            </div>
        
            <div class="mb-3 row justify-content-center">
                <button type="submit" class="col-sm-5 btn btn-primary">Modifier</button>
            </div>
        </form>
    {% else %}
        <div>
            <div>
                <p class="h1">Modifier votre mot de passe</p>
            </div>
            <p class="text-center">Vous devez être connecté pour modifier votre mot de passe ! <a href="/login">Connexion</a></p>
        </div>
    {% endif %}
</div>

{% endblock %}
