{% extends 'layouts/base.html' %}
{% block body_content %}

<div class="midas-container container-fluid">
    {% if user.is_authenticated%}
    <div class="box mt-5">
        <div class="mb-3 row justify-content-center">
            <p class="h1 col-sm-3">Connexion</p>
        </div>
        <div class="mb-3 row justify-content-center">
            <p class="col-sm-10 text-center">Vous êtes déjà connecté. Souhaitez-vous vous <a href="/logout">déconnecter</a>?</p>
        </div>
    </div>
    {% else %}
    <form class="box mt-5" method="post">
        {% csrf_token %}
        <div class="mb-3 row justify-content-center">
            <p class="h1 col-sm-3">Connexion</p>
        </div>
        <div class="mb-3 row justify-content-center">
            <label for="id_username" class="col-sm-2 col-form-label">Nom d'utilisateur</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="username" id="id_username" placeholder="user">
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label for="id_password" class="col-sm-2 col-form-label">Mot de passe</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" name="password" id="id_password">
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <button type="submit" class="col-sm-5 btn btn-primary">Submit</button>
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}
