{% extends 'layouts/registration.html' %}
{% block registration_title %}Réinitialiser le mot de passe{% endblock %}
{% block registration_container-size %}5{% endblock%}

{% block registration_content %}
    <div class="mb-3 row justify-content-center">
        <p class="col-sm-12 text-center">
            {% if user.is_authenticated %}
                Vous êtes déjà connecté. Souhaitez-vous vous <a href="/logout">déconnecter</a>?
            {% else %}
                Le mot de passe a bien été réinitialisé. Vous pouvez vous <a href="/login">connecter</a>.
            {% endif %}
        </p>
    </div>
{% endblock %}
