{% extends 'layouts/registration.html' %}
{% block registration_title %}Modifier votre mot de passe{% endblock %}
{% block registration_container-size %}6{% endblock%}

{% block registration_content %}
    <div class="mb-3 row justify-content-center">
        <p class="col-sm-12 text-center">
            {% if user.is_authenticated%}
                Votre mot de passe a été modifier avec succès !
            {% else %}
                Vous devez être connecté pour modifier votre mot de passe ! <a href="/login">Connexion</a>
            {% endif %}
        </p>
    </div>
{% endblock %}
