{% extends 'layouts/registration.html' %}
{% block registration_title %}Réinitialiser le mot de passe{% endblock %}
{% block registration_container-size %}5{% endblock%}

{% block registration_content %}
    <div class="mb-3 row justify-content-center">
        <p class="col-sm-12 text-center">
            {% if user.is_authenticated %}
                Vous êtes déjà connecté. Souhaitez-vous vous <a href="/logout">déconnecter</a>?
            {% else %}
                Si votre adresse email est dans notre système. Un email vous a été envoyé avec les instructions.<br><br>Si vous ne recevez rien, vérifiez que vous avez correctement entré votre adresse email ou regardez dans le dossier spam/courrier indésirable.
            {% endif %}
        </p>
    </div>
{% endblock %}
