{% extends 'layouts/registration.html' %}

{% block registration_title %}Modifier votre mot de passe{% endblock %}
{% block registration_container-size %}6{% endblock%}

{% if user.is_authenticated %}
{% block registration_alert %}
{% for field in form %}
{% if field.help_text %}
<div class="alert alert-warning" role="alert">
    {{ field.help_text|safe }}
</div>
{% endif %}
{% endfor %}

{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ form.non_field_errors }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock%}
{% endif%}

{% block registration_content %}
{% if user.is_authenticated%}
<form method="post">
    {% csrf_token %}
    <div class="mb-3 row justify-content-center">
        <label for="old_password" class="col-sm-5 col-form-label">Ancien mot de passe</label>
        <div class="col-sm-7">
            <input type="password" class="form-control" name="old_password">
        </div>
    </div>
    <div class="mb-3 row justify-content-center">
        <label for="new_password1" class="col-sm-5 col-form-label">Nouveau mot de passe</label>
        <div class="col-sm-7">
            <input type="password" class="form-control" name="new_password1">
        </div>
    </div>
    <div class="mb-3 row justify-content-center">
        <label for="new_password2" class="col-sm-5 col-form-label">Confirmer le nouveau mot de passe</label>
        <div class="col-sm-7">
            <input type="password" class="form-control" name="new_password2">
        </div>
    </div>

    <div class="mb-3 row justify-content-center">
        <button type="submit" class="col-sm-3 btn btn-primary">Modifier</button>
    </div>
</form>
{% else %}
<div class="mb-3 row justify-content-center">
    <p class="text-center">Vous devez être connecté pour modifier votre mot de passe ! <a href="/login">Connexion</a></p>
</div>
{% endif %}

{% endblock %}
