{% extends 'layouts/registration.html' %}

{% block registration_title %}Réinitialiser le mot de passe{% endblock %}
{% block registration_container-size %}5{% endblock%}

{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% for field in form %}
    {% for error in field.errors %}
    <div>
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% block registration_content %}
{% if user.is_authenticated%}
<div class="mb-3 row justify-content-center">
    <p class="col-sm-12 text-center">Vous êtes déjà connecté. Souhaitez-vous vous <a href="/logout">déconnecter</a>?</p>
</div>
{% else %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3 row justify-content-center">
        <label for="id_email" class="col-sm-5 col-form-label">Adresse email</label>
        <div class="col-sm-7">
            <input type="text" type="email" class="form-control" name="email" id="id_email">
        </div>
    </div>
    <div class="mb-3 row justify-content-center">
        <button type="submit" class="col-sm-3 btn btn-primary">Réinitialiser</button>
    </div>
</form>
{% endif %}
{% endblock %}
