#accordionDashboard {
    margin-left: 10%;
    margin-right: 10%;
}

.sources {
    align-items: center;
}

#echarts {
    margin-top: 20px;
}

.switch-accordeon {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    padding-right: 0.75rem;
}

.accordion-body:not(.dates){
    text-align: center;
}

.ending-date {
    margin-top: 10px;
}

.submit-data-dashboard{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.title {
    margin-left: 1em;
}

#EchartsParameters {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#EchartsViewParameters {
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: #dfdfdf;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}