.accordion {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1em;
}
.sources {
    align-items: center;
}

#echarts {
    margin-top: 20px;
}

.switch-accordeon {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    padding-right: 0.75rem;
}

.accordion-body:not(.dates){
    text-align: center;
}

.ending-date {
    margin-top: 10px;
}

.submit-data-dashboard{
    margin-top: 10px;
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
}

.title {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
}

#EchartsParameters {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#EchartsViewParameters {
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: #dfdfdf;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lab-param-echarts {
    margin-left: 5px;
    margin-right: 10px;
}

.addResearch {
    color: #1363e4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin-right: 10%;
    margin-top: 1em;
}

.addResearch:disabled,
.addResearch[disabled]{
    color: #62a1fe;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: default;
    margin-right: 10%;
    margin-top: 1em;
}

.addResearch .fa-circle-plus {
    font-size: 1.2em;
    margin-left: 5px;
}

.delete-search {
    cursor: pointer;
    float: right;
    margin-right: -2em;
    margin-top: -250px;
}

.delete-search .fa-circle-xmark {
    color: red;
    font-size: 1.2em;
}

#EchartsViewParametersPlot {
    margin-top: 10px;
}

.select-type-display {
    margin-left: 5px;
    display: inline-block;
    width: auto;
}

.label-select-type-display {
    display: block;
    margin-bottom: 5px;
}

.label-select-type-display::after {
    content:"\a";
    white-space: pre;
}

.dimension-display {
    float: right;
    margin-right: 10%;
    padding-right: 0.75rem;
}

.loader, .loader-with-main {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #0B5ED7; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    left: 50%;
    position: absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-with-main {
    margin-top: 250px;
}

.opacity-low {
    opacity: 0.3;
}

.popover-btn {
    padding: 0 !important;
    margin-left: 5px;
}

.change-animation {
    border-radius: 5px;
    animation-name: filterChange;
    animation-duration: 3s;
}

@keyframes filterChange {
    from {background-color: #ffe798;}
}

#downloadButton {
    margin-right: 5px;
}

.fa-info-circle {
    color: #0D6EFD;
}

.label-display-parameters{
    margin-top: 5px;
}

hr.dashed {
    border-top: 3px dashed #BBBBBB;
    background-color: transparent;
}

#midas-container-map {
    visibility: hidden;
    display: none;
}

#manual-map-selection {
    position: absolute !important;
    bottom: 2rem;
    left: 2rem;
    z-index: 9999;
    background-color: white;
    border-radius: 10%;
}

#map { 
    height: calc(100vh - 3.5rem);
}

#search-bar {
    z-index: 9999;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    width: 30vw;
    background-color: white;
}

.image.png{
    background-color: white;
}

#form1 {
    border-color: white ! important;
}

.search-btn-glass {
    background-color: white !important;
    border: none ! important;
}

.search-burger-button {
    border: none ! important;
    border-right: 1px solid #BBBBBB !important;
}

#search-bar {
    border: 1px solid #BBBBBB;
}

.layer-over-search {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 3.5rem;
    z-index: 9998;
}

.layer-over-search .card {
    height: 100vh;
    width: 35vw;
    z-index: 9999;
    cursor: default !important;
}

.card-map-stations {
    margin-top: 3rem;
}

