.accordion {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1em;
}

.sources {
    align-items: center;
}

#echarts {
    margin-top: 20px;
}

.switch-accordeon {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    padding-right: 0.75rem;
}

.accordion-body:not(.dates){
    text-align: center;
}

.ending-date {
    margin-top: 10px;
}

.submit-data-dashboard{
    margin-top: 10px;
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
}

.title {
    margin-left: 1em;
}

#EchartsParameters {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#EchartsViewParameters {
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: #dfdfdf;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lab-param-echarts {
    margin-left: 5px;
    margin-right: 10px;
}

.addResearch {
    color: #1363e4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin-right: 10%;
    margin-top: 1em;
}

.addResearch .fa-circle-plus {
    font-size: 1.2em;
    margin-left: 5px;
}

.delete-search {
    cursor: pointer;
    float: right;
    margin-right: -2em;
    margin-top: -16em;
}

.delete-search .fa-circle-xmark {
    color: red;
    font-size: 1.2em;
}