div.midas-container{
    margin-top: 0.5rem;
}

.spinner-border {
    display: none;
}

.sources-status .text-source-status {
    color: white;
}

.sources-status .fa-circle {
    color: rgb(17, 209, 17);
}

.sources-status {
    white-space: nowrap
}

.text-centered {
    text-align: center;
}

.body-centered {
    margin-left: 20%;
    margin-right: 20%;
}