@font-face {
    font-family: "Poppins";
    src: url("/static/font/Poppins-Regular.ttf");
   }

* {
    font-family: "Poppins";
}

/* General */
html,body{
    min-height: 100vh;
}

/* Container */
div.midas-container{
    margin-top: 0.5rem;
}

.balise-infos {
    margin-left: 10%;
    margin-right: 10%;
}

/* Spinner */
.spinner-border {
    display: none;
}

/* Status icon (NavBar) */
.status.fa-circle-check {
    color: rgb(17, 209, 17);
}
.status.fa-circle-exclamation {
    color: rgb(209, 209, 17);
}
.status.fa-circle-xmark {
    color: rgb(209, 17, 17);
}

/* Change mouse to pointer on those elements */
.midas-icon,.midas-delete-icon, *[data-bs-toggle="collapse"]{
    cursor: pointer;
}

p a {
    color: #0d6efd !important;
    text-decoration: none !important;
}

p a:hover {
    color: #0b5ed7 !important;
}

p {
    text-align:justify;
}
