<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MIDAS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Accueil</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <img class="mx-2 w-100 h-100" src="/status/sabra.svg" alt="Status SABRA">
                <img class="mx-2 w-100 h-100" src="/status/climacity.svg" alt="Status ClimaCity">
                {% if user.is_authenticated %}
                <a class="btn btn-outline-light" aria-current="page" href="/logout">Logout</a>
                {% else %}
                <a class="btn btn-outline-light" aria-current="page" href="/login">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
