{% load sources %}
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MIDAS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Accueil</a>
                </li>
            </ul>
            <div class="d-flex text-light align-items-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/statut" class="nav-link">
                            {% autoescape off %}
                                {% all_status %}
                            {% endautoescape %}
                            <span>Statut des Sources<span>
                        </a>
                    </li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/manage-data">Gestion des Données</a></li>
                        {% if user.is_superuser %}
                        <li><a class="dropdown-item" href="/admin">Panneau d'administration</a></li>
                        {% endif %}
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" aria-current="page" href="/logout">Déconnexion</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a class="btn btn-outline-light" aria-current="page" href="/login">Connexion</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
